@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    margin: 0;
    padding: 0;
    background: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    font-family: "Outfit";
    font-weight: 300;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: hsl(216, 50%, 16%);
    border-radius: .5em;
    padding: 1em;
}

.imageEquilibrium{
    display: block;
    border-radius: .5em;
    margin: auto;
}

.imageEquilibrium{
    width: 266px;
    height: 268px;
}

.description{
    max-width: 252px;
}

.sectionPriceTime{
    display: flex;
    justify-content: space-between;
}
.sectionPriceTime article{
    display: flex;
    align-items: center;
}
.sectionPriceTime article img{
    margin-right: .5em;
}

hr{
    border: 1px solid hsl(215, 32%, 27%);
    width: 99%;
}

.Avatar{
    display: flex;
    align-items: center;
}
.imgAvatar{
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    padding: 1px;
    margin-right: 1em;
}

.color1{
    color: white;
}
.color2{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}